#### **1**.Write a program check whether a year is leap year or Not

In [8]:
n=int(input("enter the year"))
if (n%4==0 and n%100!=0) or (n%400==0):
  print("leap year")
else:
    print("not a leap year")

enter the year2005
not a leap year

2.Write a program to check whether the person is senior citizen or not

In [9]:
age=int(input("enter the age:"))
if age>=60:
  print("senior citizen")
else:
  print("not a senior citizen")

enter the age:76
senior citizen

3. Get three input(age) from the user and check who is older person

In [10]:
n1=int(input("enter the age:"))
n2=int(input("enter the age:"))
n3=int(input("enter the age:"))
if n1>n2 and n1>n3:
  print("n1 is older")
elif n2>n1 and n2>n3:
  print("n2 is older")
else:
  print("n3 is older")

enter the age:14
enter the age:65
enter the age:89
n3 is older

4.Check the experience of the user and give diwali bonus according to their experience

In [11]:
years=int(input("enter the years of experience:"))
if years >=5:
  print("youre eligible for diwali bonus")
else:
  print("not eligible")

enter the years of experience:6
youre eligible for diwali bonus

5. Check whether the person wants to take book or not from library
if they want to take then check if they have libravry card or not and then
if they have get input from user which book they need to take and remove that book from the list of books in the library

In [14]:
list_of_books=["weasly","slave","idiot","resolution"]
book=input("enter whether you wants to take book or not:").lower()
if book=="yes":
  card=input("do you have library card").lower()
  if card=="yes":
    user=input("enter the book you need to take are remove:")
    if user in list_of_books:
      list_of_books.remove(user)
      print(list_of_books)
    else:
      print("book is not available")
  else:
    print("sorry cannot take or remove the books")
else:
  print("no books taken")

enter whether you wants to take book or not:yes
do you have library cardyes
enter the book you need to take are remove:slave
['weasly', 'idiot', 'resolution']

# conditional statement

# Loops


#### **1**. Write a Program to Print a factorial of a number

In [2]:
fact=1
n=int(input("enter the number:"))
for i in range(n,1,-1):
  fact=fact*i
print(fact)

enter the number:5
120

2. Write a Program to check whether the number is armstrong or not

In [6]:
armstrong=0
n="9474"
for i in n:
    armstrong=armstrong+int(i)**len(n)
if armstrong==int(n):
  print("armstrong")
else:
  print("not armstrong")

armstrong

3.Write a program to print a stars

In [16]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

4.Write a program to print a sum of digits accepted from the user

In [19]:
n=input("enter the number:")
sum=0
for i in n:
  sum=sum+int(i)
print(sum)

enter the number:77
14

5.Accept 10 no from the users and display the average value of all the numbers

In [18]:
sum=0
for i in range(1,11):
  n=int(input("enter the number:"))
  sum=sum+n
  avg=sum/10
avg

enter the number:1
enter the number:2
enter the number:3
enter the number:4
enter the number:5
enter the number:6
enter the number:7
enter the number:8
enter the number:9
enter the number:10

5.5

6. write a code to print multiplication table from 1 to 10 using nested loop

In [15]:
for i in range(1,11):
  for j in range(1,11):
    print(i,"*",j,"=",i*j)
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# Functions

#### 1.Write a Python function that takes a list and returns a new list with distinct elements from the first list.
#### Sample List : [1,2,3,3,3,3,4,5]
#### Unique List : [1, 2, 3, 4, 5]

In [39]:
def unique(a):
  b=[]

  for i in a:
    if i not in b:
      b.append(i)
  return b
a=[1,2,3,3,3,3,4,5]
result=unique(a)
result

[1, 2, 3, 4, 5]

2.Write a function count_vowels(string) that takes a string and returns the number of vowels in the string. Consider a, e, i, o, u

In [40]:
def count_vowels(data):
  vowels="aeiouAEIOU"
  count=0
  for i in data:
    if i in vowels:
      count=count+1
  return count
data=input("enter the string:")
result=count_vowels(data)
result

enter the string:kulkarny

2

3.Create a function is_prime(n) that takes a number and returns True if the number is prime, otherwise False

In [48]:
import math
def is_prime(n):
  if n<2:
    return False
  for i in range(2,int(math.sqrt(n))+1):
    if  n%i==0:
      return False
  else:
      return True
n=2
result=is_prime(n)
print(result)

True

import math
def is_prime(n):
  for i in range(2,sqrt(n)+1):
    if  n%i!=0:
      return True
    else:
      return False
n=25
result=is_prime(n)

5 create a simple calculator function

In [52]:

def calculator(a,b):
  if n==1:
    return a+b
  elif n==2:
    return a-b
  elif n==3:
    return a*b
  elif n==4:
    return a/b
  else:
    return "invalid"
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
n=int(input("enter a number:"))
result=calculator(a,b)
result

enter the number1:1
enter the number2:7
enter a number:3

7